/.venv
.coverage
coverage.xml
*.pyc
*.mp4
.idea
src/pretrain/data/*
!src/pretrain/data/MountainCar-v0_10_000.npy
!src/pretrain/data/LunarLander-v2_10_000.npy
!src/pretrain/data/Acrobot-v1_10_000.npy
/tmp
/tmpvideo